@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Wendy+One&display=swap');@import "tailwindcss";


body {
  font-family: "Inter", sans-serif;
}

#h1 {
  font-family: "Wendy One", sans-serif;
}